//PROPOSALS SECTION

.proposals {
    display: flex;
    justify-content: space-between;
    padding: 8rem 4.5rem 7rem;

    @media only screen and (max-width: $bp-large) {
        padding: 6rem 3.5rem 5rem;
    }

    @media only screen and (max-width: $bp-medium) {
        flex-direction: column;
        align-items: center;
    }

    @media only screen and (max-width: $bp-large) {
        padding: 4rem 2.5rem 3rem;
    }

    &__left-side {
        display: flex;
        flex: 0 0 49%;
        justify-content: flex-end;

        @media only screen and (max-width: $bp-medium) {
            margin-bottom: .7rem;
        }
    }

    &__right-side {
        flex: 0 0 49%;
        margin-left: 2%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;

        @media only screen and (max-width: $bp-medium) {
            margin-left: 0;
        }
    }

    &__container {
        max-width: 59.9rem;
        position: relative;
    }

    &__img {
        width: 100%;
        height: 100%;
    }

    &__text {
        position: absolute;
        z-index: 2;
        top: 3.3rem;
        left: 3rem;
        color: $color-white;
        font-family: $font-tertiary;

        & span {
            display: block;
        }

    }

    &__text-big {
        font-size: 3.1rem;
        line-height: 1;
    }

    &__text-small {
        font-size: 1.8rem;
        line-height: 1;
    }


}

//ORDERS SECTION

.orders {
    text-align: center;
    padding: 0 2.8rem 7rem;

    @media only screen and (max-width: $bp-large) {
        padding: 0 2.3rem 4rem;
    }

    &__heading {
        margin: 2.5rem 0 1.8rem;
    }

    &__top-text {
        margin: 0 12rem;

        @media only screen and (max-width: $bp-small) {
            margin: 0 1rem;
        }
    }

    &__cards {
        display: flex;
        margin-top: 6.5rem;
        align-items: flex-end;

        @media only screen and (max-width: $bp-small) {
            margin-top: 0;
            flex-direction: column;
        }
        
    }

    &__card {
        display:  flex;
        flex-direction: column;
        align-items: center;

        @media only screen and (max-width: $bp-small) {
            padding: 2rem 10rem;
        }
    }

    &__card-invisible {
        @media only screen and (max-width: $bp-small) {
            display: none;
        }
    }

    &__card:not(:last-child) {
        margin-right: 15rem;

        @media only screen and (max-width: $bp-large) {
            margin-right: 7rem;
        }

        @media only screen and (max-width: $bp-medium) {
            margin-right: 5rem;
        }

        @media only screen and (max-width: $bp-small) {
            margin-right: 0;
        }

    }

    &__card:last-child {
        margin-right: 4.5rem;
    }

    &__card-images {
        display: flex;
        flex-direction: column;
        margin-bottom: 3.2rem;
    }

    &__card-img {
        width: 100%;
        margin: 0 auto;

        @media only screen and (max-width: $bp-small) {
            width: 70%;
        }
    }
}

// EVENTS SECTION

.events {
    padding: 6.6rem 4.5rem 6.5rem 8rem;

    @media only screen and (max-width: $bp-small) {
        padding: 0 4.5rem 3.5rem 6rem;
    }

    &__container {
        display: flex;
        padding: 2.3rem 2.3rem 2.3rem 5rem;
        box-shadow: 0 1rem 4rem $shadow-black;

        @media only screen and (max-width: $bp-large) {
            flex-direction: column;
        }
    }

    &__left-side {
        flex: 0 0 50%;
        min-width: 0;
        position: relative;
        
        @media only screen and (max-width: $bp-large) {
            margin-bottom: 8rem;
        }
    }

    &__slider {
        overflow: hidden;
    }

    & .slick-track {
        display: flex;
    }

    & .slick-dots {
        display: flex;
        list-style: none;
        position: absolute;
        left: 0;
        bottom: 4rem;
        z-index: 5;

        @media only screen and (max-width: $bp-large) {
            transform: translateX(-50%);
            left: 50%;
            bottom: -6rem;
        }

        & li:not(:last-child) {
            margin-right: .8rem;
        }

        & button {
            line-height: 0;
            font-size: 0;
            color: transparent;
            padding: 1.3rem 1.3rem;
            border: none;
            color: $color-grey;
            border-radius: 50%;
        }

        & .slick-active button {
            background-color: $color-secondary;
        }

    }

    &__slide-text {
        margin-top: 3.5rem;

        @media only screen and (max-width:$bp-largest) {
            margin-top: 1.5rem;
        }
    }

    &__right-side {
        flex: 0 0 50%;
        text-align: center;
    }

    &__img {
        width: 100%;

        @media only screen and (max-width:$bp-large) {
            width: 50%;
        }

        @media only screen and (max-width:$bp-medium) {
            width: 70%;
        }

        @media only screen and (max-width: $bp-small) {
            width: 100%;
        }
    }

}

// BOOK SECTION

.book {
    position: relative;
    overflow: hidden;
    padding: 6.5rem 0 17.8rem;

    @media only screen and (max-width: $bp-largest) {
        padding: 6.5rem 0 14.8rem;
    }

    @media only screen and (max-width: $bp-large) {
        padding: 6.5rem 0 11.8rem;
    }

    @media only screen and (max-width: $bp-medium) {
        padding: 6.5rem 0 9.8rem;
    }

    @media only screen and (max-width: $bp-small) {
        padding: 6.5rem 0 8.8rem;
    }

    &__top {
        text-align: center;
        margin-bottom: 8rem;
    }

    &__bottom {
        width: 55%;
        margin: 0 auto;

        @media only screen and (max-width: $bp-small) {
            width: 65%;
        }
    }

    &__img {
        position: absolute;
        z-index: -5;
        
        &--1 {
            top: 0; 
            left: -2rem;
            max-width: 21.5rem;
        }

        &--2 {
            top: 25rem; 
            left: 15rem;
            max-width: 7.3rem;

            @media only screen and (max-width: $bp-medium) {
                left: 4rem;
            }

            @media only screen and (max-width: $bp-small) {
                left: 0;
            }
        }

        &--3 {
            bottom: 1.5rem; 
            right: -15rem;
            max-width: 40.7rem;
            transform: rotate(65deg);

            @media only screen and (max-width: $bp-small) {
                max-width: 30.7rem;
            }
        }
    }

}